{% extends 'index.html' %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "Typhoon Yolanda GeoNode" %}</h1>
    <div class="hero-unit-content">
      <div class="intro">
        <p>
          {% blocktrans %}
          Several organizations are building damage assessments after Super Typhoon Yolanda (Haiyan). This site serves as a repository of the data *behind* the damage assessments which are available on other web sites. The principles are clear: Data must be legally and technically open. Data must be clean, useful, and findable. Curators will do our best to ensure the resources adhere to these principles. Our mailing list is available here: <a href="https://groups.google.com/d/forum/haiyan-imagery">mailing list</a>.
          {% endblocktrans %}
        </p>
        <span>{% trans 'What is the GeoNode and how to use it?' %} <a href="http://geonode.github.com/workshops/user">{% trans 'Getting Started?' %}</a></span>
      </div>
      <div class="btns">
        <a class="btn btn-large" href="{% url "layer_browse" %}">
          {% trans "Explore Layers" %}
        </a>
        <a class="btn btn-large" href="{% url "maps_browse" %}">
          {% trans "Explore Maps" %}
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
